<head>
  <base href="/">
  <title>Annotate</title>
</head>

<body ng-app="annotate"
  ng-controller="UploadCtrl"
  ng-show="images">

<div an-dropbox
  ng-class="{'full-screen': images.length === 0, 'no-height': !addingImages}"
  an-adding-images="addingImages"
  an-on-image-added="mapDragOrderImages"
  ng-show="user.services.sandstorm.permissions.indexOf('owner') > -1 && !loading"
  ng-cloak>
  <div class="input">
    <div>
      <p>Click here to select an image
      <strong>or</strong>
      drag an image to here from your computer
      </p>
    </div>
  </div>
</div>
<div class="cancel-upload"
  ng-click="addingImages = !addingImages"
  ng-show="user.services.sandstorm.permissions.indexOf('owner') > -1 && addingImages && !loading"
  >
  I'm done uploading images!
</div>

<div class="images-preview"
  ng-show="images.length > 0">
  <a class="images-added"
    ng-show="user.services.sandstorm.permissions.indexOf('owner') > -1 && !addingImages"
    ng-click="addingImages = true">
    + Add more images
  </a>

  <div id="sortable-container">
    <div class="sortable-row" as-sortable="sortableOptions" ng-model="dragOrderImages">
        <div ng-repeat="image in dragOrderImages track by image._id"
          as-sortable-item>

            <div as-sortable-item-handle
              ng-click="goto(image._id)"
              class="image-placeholder"
              style="background-image:url('{{image.url}}')">
            </div>
        </div>
    </div>
  </div>
</div>

<div class="toggle-view row">
  <a class="pill"
    ng-class="{'selected': view === 'single'}"
    ng-click="view = 'single'">1 column</a>
  <a class="pill"
    ng-class="{'selected': view === 'double'}"
    ng-click="view = 'double'">2 columns</a>
</div>

<div class="images-container-title row"
  ng-class="{'double': view === 'double'}">
  <div class="image-container"
    ng-repeat="image in images | orderBy: 'metadata.order'"
    ng-class="{'adding-images': addingImages}"
    id="{{ image._id }}">

    <header>
      <div class="image-meta">
        {{ image.metadata.order + 1 }}.
        <span href="#"
          editable-text="image.metadata.description"
          e-form="descriptionEditForm"
          onbeforesave="updateDescription($data, image)"
          ng-bind="image.metadata.description  || 'No description supplied'"></span>
        <a class="zmdi zmdi-edit action"
          ng-click="descriptionEditForm.$show()"
          ng-show="!descriptionEditForm.$visible && user.services.sandstorm.permissions.indexOf('owner') > -1"></a>
      </div>

      <div class="actions">
        <i ng-show="user.services.sandstorm.permissions.indexOf('owner') > -1"
          ng-click="deleteImage(image)"
          class="zmdi zmdi-delete action"
          title="Delete Image"></i>
      </div>
    </header>
    <div an-annotatable
      an-image="image"
      show-annotations="true"
      can-annotate="!addingImages"
      ></div>
    <footer>
      <span class="has-older" ng-show="image.metadata.previous">Has an older version.</span>
      <span class="uploaded-by">Uploaded by <span ng-bind="user.services.sandstorm.preferredHandle">.</span>
    </footer>
  </div>
</div>
</body>
