<head>
  <base href="/">
  <title>Annotate</title>
</head>

<body ng-app="annotate" ng-controller="UploadCtrl">

<div
  ng-class="{'empty':images.length === 0}"
  ngf-drop ngf-select
  ngf-change="addImages($files)"
  ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
  ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
  ngf-drop-available="true"
  ng-show="user.services.sandstorm.permissions.indexOf('owner') > -1">
  <div class="input">
    <div>
      <p>Click here to select an image</p>
        <strong>OR</strong>
      <p>drag an image to here from your computer</p>
    </div>
  </div>
</div>

<div class="images-container-title row">
  <div class="image-container" ng-repeat="image in images">
    <header>
      <div class="image-meta">
        <span href="#"
          editable-text="image.metadata.description"
          e-form="descriptionEditForm"
          onbeforesave="updateDescription($data, image)" ng-bind="image.metadata.description || 'No description supplied'"></span>
        <a class="zmdi zmdi-edit action"
          ng-click="descriptionEditForm.$show()"
          ng-show="!descriptionEditForm.$visible && user.services.sandstorm.permissions.indexOf('owner') > -1"></a>
      </div>

      <div class="actions" ng-show="user.services.sandstorm.permissions.indexOf('owner') > -1">
        <i ng-click="deleteImage(image)"
          class="zmdi zmdi-delete action"
          title="Delete Image"></i>
      </div>
    </header>
    <div an-annotatable
      an-image="image"
      ></div>

  </div>
</div>
</body>
