[an-dropbox].full-screen {
  height: 100%;
}

[an-dropbox].no-height{
  height: 0%;
  opacity: 0;

  .drop-box {
    padding: 0;
    border: 0;
  }
}

[an-dropbox] {
  height: 74%;
  transition: height @transition-speed, opacity @transition-speed;
}

.drop-box {
  text-align: center;
  transition: border @transition-speed;
  height: 100%;
  background-color: @drop-box-color;
  border: .5em dashed darken(@drop-box-color, 20%);
  cursor: pointer;

  .input {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }

  &.dragover {
    border: 1em solid @green;
  }
}

.cancel-upload {
  padding: 1rem;
  background-color: @link-hover;
  box-shadow: 0 0 4px darken(@link-hover, 30%) inset;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: background-color @transition-speed;

  &:hover {
    background-color: darken(@link-hover, 10%);
  }

  &:focus,
    &:active {
      background-color: darken(@link-hover, 20%);
    }
}
