/* CSS declarations go here */

@grey: grey;
@green: green;
@upload-background: lighten(@grey, 35%);
@white: white;
@light-blue: #308194;
@dark-blue: #1C2B67;

@preview-strip-background: @dark-blue;
@drop-box-color: lighten(@light-blue, 50%);

@link-color: @light-blue;
@link-hover: @link-color;
@link-text: @white;

@shadow-color: @dark-blue;

@header-color: @dark-blue;

@annotation-color: @link-color;
@annotation-shadow-color: @shadow-color;

@transition-speed: .2s;

@import "./components/image-container.import.less";
@import "./components/annotatable.import.less";
@import "./components/annotation.import.less";
@import "./components/drop-box.import.less";
@import "./components/images-preview.import.less";

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: @white;
}

.row {
  max-width: 1040px;
  margin: 0 auto;
}

a {
  transition: @transition-speed color;

  &:hover {
    color: @link-hover;
  }
}

.actions i {
  cursor: pointer;
  transition: @transition-speed color;

  &:hover {
    color: @link-hover;
  }
}

.action {
  cursor: pointer;
}

.actions {
  text-align: right;
  font-size: 1.2em;
}

.pill {
  background-color: @link-color;
  color: @link-text;
  padding: .25rem .5rem;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid darken(@link-color, 5%);

  &:hover {
    background-color: darken(@link-color, 10%);
    color: @link-text;
  }

  &.selected {
    background-color: lighten(@link-color, 10%);
    color: @link-text;
  }
}

.toggle-view {
  margin-top: 1rem;
  text-align: right;
}
