<section class="annotation"
  ng-class="{'top': annotation.top}"
  style="left: {{annotation.xPos}}%; top: {{annotation.yPos}}%">

    <span class="annotation-indicator"
      ng-click="toggleAnnotation()">
      <span class="order">{{ index + 1 }}</span>
    </span>

    <div class="content" ng-show="open" ng-class="{ 'align-right': floatRight, 'align-bottom': floatBottom }">

      <div class="actions">
        <i class="zmdi zmdi-delete"
          ng-click="deleteAnnotation()"
          ></i>

        <i class="close zmdi zmdi-close-circle-o"
          ng-click="closeAnnotation()"
          ></i>

      </div>

      <div class="comments">
        <ul>
          <li ng-repeat="comment in annotation.comments">
            <span class="comment">{{ comment.comment }}</span>
            <span class="author">{{ comment.author.profile.name }}</span>
            <span class="date">{{ comment.date | date:"shortDate"}}</span>
          </li>
        </ul>
        <h1>New Comment:</h1>
        <textarea ng-model="newComment" ng-keyup="($event.keyCode == 13 && !$event.shiftKey) && addComment(newComment, $event)"></textarea>
        <button type="submit" ng-click="addComment(newComment, $event)">submit</button>
      </div>
    </div>
</section>
